<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class="panel-title">
          <a href= "/users/<% photo.id %>"><% photo.user.username %></a>
          <small><% time_ago_in_words(Time.now)%></small>
          </h3>
      </div>
      <div class = "panel-body">
        <a href="/photos/<% photo.id%>"<img src="<% photo.image%>" class="img-responsive"></a>
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <% @comments.each do |comment| %>
              <h6 class="media-heading">
                <a href="users/<%comment.photo.user_id%>"><%comment.photo.user.username%></a>
              </h6>
              <%=comment.body%>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
   <% end %>
</div>
